

.navbar
{
    background-color: black;
    padding: 0;
}
.navbar a img
{
    width: 55px;
}
.navbar a span
{
    font-size: 19px;
    font-weight: 600;
    padding-left: 20px;
}
.navbar li
{
    padding-left:20px; 
}

.top-home
{
    height: 650px;
    
    background-image:url(../images/cover.jpg);
    background-size: 100% 100%;
    background-position: center 0;
}
.top-home .layer
{
    background-color:#ec3848b5;
    height: 100%;
    width: 100%;
}
.top-home .layer h1
{
    color: #fff;
    font-size: 60px;
}
.top-home .layer p
{
    color: #fff;
    font-size: 30px;
}
.about li
{
    display: inline;
    padding: 5px;
    font-size: 35px;
    color: brown;
    
    
    
}
.about li:hover
{
    color: black;
    
}
.about .row h4
{
    font-size: 20px;
}
.about .container > p
{
    font-size: 20px;
}
.about .row p
{
    font-size: 18px;
    
    
}

.about .progress
{
    margin-bottom:20px;
}
.about .btn a
{
    color: #fff;
    font-weight: 500;
}
.work
{
    background-color: #f5f5f5;
}
.work .card i
{
    background-color: #eeeeee;
    font-size: 20px;
}
.work .card:hover i 
{
    background-color: #f31d1d;
    color: #fff;
}
.work .card:hover h6
{
    color:#f31d1d;
}
.sec 
{
    background-image: url(../images/project-counter.jpg);
    background-attachment: fixed;
    height: 400px;
}
.sec .container
{
    
}
.sec .card
{
    
}
.sec .box
{
    
    border:1px solid rgba(255,255,255,0.1);
    padding:15px 0;
}
.sec .box i
{
    font-size: 25px;
    color: #ec3237;
}
.sec .box h6
{
    font-size: 35px;
    color: #fff;
}
.sec .box p
{
    font-size: 20px;
    color: #ec3237;
}

.portfolio
{
    background-color: #f5f5f5;
}
.portfolio li
{
    display: inline;
    
}
.portfolio .card
{
    position: relative
}
.portfolio .card:hover i
{
    background-color:#ec3237; 
}
.portfolio .card-body i
{
    position: absolute;
    bottom: 30%;
    left:45%;
    background-color: black;
    color: #fff;
    
}

.sec-carousel
{
    background-image: url(../images/client-testimonial.jpg);
    background-attachment: fixed;
    height: 400px;
}
.sec-carousel .carousel-item img
{
    border: solid 5px red;
}
.sec-carousel .carousel-item p
{
    color: #fff;
    padding-top:  20px;
    font-size: 18px;
}
.sec-carousel .carousel-item h4
{
    color:#ec3237;
    font-weight: 900;
}
.sec-carousel .carousel-item span
{
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}

.hire-me .top-contact i
{
 
    padding-right: 20px;
    margin-bottom: 15px;
}

.hire-me .contact li
{
    display: inline;
    font-size: 35px;
    padding-right: 15px;
}
.hire-me .contact li:hover i
{
    color:#ec3237; 
}